body{
height: 0px;
margin-top: 0;
padding: 0px;
background-size: auto;
font-family: sans-serif;
background-image: url(int1.jpg);
}
.main{
  width: 150px;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(pic2.jpg);
  background-position: center;
  background-size: 30px;
  background-color: aliceblue;
  height: 80px;
}
.navbar{
width: 1200px;
margin: auto;
height: 0px;
background-position: center;

}
.icon{
width: 20px;
float: left;

height: 5px;
}

.logo{
color: #ff7200;

}

h2{
    color: yellow;
    background-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
    background-color: transparent;
    color: red
}
header {
text-align: center;
left: 0;
right: 10px;
top: 30px;
background-color: hsl(143, 88%, 46%);
height: 300px;
width: 150px;
font-family: fantasy;
font-weight: bolder;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
display: flex;
align-items: center;
box-shadow: 0 0 25px 0 black;
}
header * {
display: block;
}
header li {
margin: 20px;
}
header li a {
color: blue;
text-decoration: none;
display: block;
width: 60px;
}
header li a:hover {
    background-color: #555;
    color: white;
  }
ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 250px;
}
div {
    width: 0px;
    height: 0px;
    padding: 0px;
    border: 0px solid gray;
    margin: 0;
  }